/* Estilo geral */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Produtos */
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .produto {
    padding: 20px;
    text-align: center;
  }
  
  .produto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .produto h3,
  .produto p {
    margin: 0;
  }
  
  /* Rodapé */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  #tm {
    width: 450px;
    height: auto;
  }

  #tf {
    width: 450px;
    height: auto;
  }

  #sm {
    width: 450px;
    height: auto;
  }

  #sanf {
    width: 450px;
    height: auto;
  }

  #bf {
    width: 450px;
    height: auto;
  }

  #salf {
    width: 450px;
    height: auto;
  }