body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    max-width: 700px;
    text-align: center;
  }

  .red-div {
    background-color: red;
    width: 700px;
    padding: 0;
  }

  .green-div {
    background-color: green;
    width: 700px;
    padding: 25px;
  }